#council-member-pictures {
    margin: 0 auto;
    max-width: 620px;
}

#council-member-pictures img {
    border: 2px solid black;
    display: block;
    margin: 1em auto;
}

.home-card {
    min-height: 10em;
    vertical-align: top;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.3em;
}

.col-sm-3 {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.home-card .doc-list-category {
    font-weight: bold;
}
