
{{/* This partial shortcode creates an internal link to a post. Requires a "title" parameter. If passed a "link" parameter it will try to find a page with that string as the page title or page filename. */}}
{{/*  */}}
<div class="news-entry">
    {{ with $linkname := .Get "link" }}
        {{ with $link := (index (union (where $.Site.RegularPages "Title" $linkname ) (where $.Site.RegularPages ".File.TranslationBaseName" $linkname )) 0) }}
            <a href="{{ $link.RelPermalink }}">
        {{ end }}
    {{ end }}
        <h3>{{ .Get "title" }}</h3>
        <div class="news-content">
            {{ .Inner }}
        </div>
    {{ with .Get "link" }}
        </a>
    {{ end }}
</div>